{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}

{% block head %}
<link rel="canonical" href="{{ page.url | safe }}">
{% endblock head %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p class="byline">by {{ page.author }}</p>
    {% if page.date %}
      <time>{{ page.date }}</time>
    {% endif %}
    {% if page.tags %}
    <ul class="tag-list">
    {% for tag in page.tags %}
      <li><a href="{{ tag.url | safe }}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  {{ page.content | safe }}
</article>
{% endblock content %}
