{% extends "base.html" %}

{# Slugs contain '/', which autoescaping would print as &#x2F;, so show the last segment. #}
{% block title %}{{ section.slug | split(pat="/") | last }} | {{ super() }}{% endblock title %}

{% block content %}
<h1>{{ section.slug | split(pat="/") | last }}</h1>

{% if section.subsections %}
<ul class="subsection-list">
{% for sub in section.subsections %}
  <li>
    <a href="{{ sub.url | safe }}">{{ sub.slug | split(pat="/") | last }}</a>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if section.pages %}
<ul class="section-list">
{% for page in section.pages %}
  <li>
    <a href="{{ page.url | safe }}">{{ page.title }}</a>
    {% if page.date %}<time>{{ page.date }}</time>{% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}
